#root {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Antic;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
    position: relative;
  }

  .o {
    margin: 1rem;
    border: 1px solid gray;
  }
  .card > p, .card img, .card > h1
  {
    padding:5px;
    margin: 0 auto;
    display: block;
  } 

  .card > p {
    height:120px;
    text-align: justify;
  }

  .card > h1 {
    height:80px;
    text-align: center;
  }

  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }